/* Navbar */

/*
.titlecolor {
    color: red;
}

.titlecolor:hover {
    color: red;
}
*/

/* Carousel */

.imgcarheight {
    max-height: 450px;
}



/* Content */

.sizecontent {
    width: 200px;
}

/* Footer */
.navcustom {
    color: white;
    height: 50px;
    padding-top: 10px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #dd1414;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}